{{ define "page-head" }}

{{ end }}

{{ define "article" }}
    <article class="post">
        <header>
            <h2>{{ .Title }}</h2>
            <div class="text-right">
                <p class="text-xs font-mono">By <b>{{ .Params.Author }}</b></p>
                <p class="text-xs font-mono">Posted <b>{{ .Date.Format "January 2, 2006" }}</b></p>
                <p class="text-xs font-mono">Reading time <b>{{ math.Round (div (countwords .Content) 200.0) }} minutes</b></p>
            </div>
        </header>
        <section class="body">
            {{ .Content }}
        </section>
    </article>
{{ end }}

{{ define "page-foot" }}
    {{ partial "social_share.html" . }}
{{ end }}