<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{.Site.Params.author}}">
    <meta name="description" content="
        {{- with .Page.Description -}}
            {{ . }}
        {{- else -}}
            {{ .Site.Params.description -}}
        {{- end -}}
    ">
    <title>
        {{- if.Page.IsHome -}}
            {{ .Site.Params.title }}
        {{- else -}}
            {{ .Title }} - {{ .Site.Params.title }}
        {{- end -}}
    </title>
    <link rel="stylesheet" href="{{ "css/compiled/main.css" | relURL }}">
    <script src="https://kit.fontawesome.com/7699dbdde6.js" crossorigin="anonymous"></script>
</head>