<header>
    <nav class="bg-white border-gray-200 py-5 rounded">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center">
                <span class="self-center text-3xl font-semibold font-mono whitespace-nowrap text-nord0 hover:text-nord10">jeremi.codes</span>
            </a>
            <div class="w-full md:block md:w-auto" id="mobile-menu">
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:content-center font-medium">
                    <li>
                        <a href="/pages/about"
                           class="block py-2 pr-4 pl-3 text-nord1 hover:text-nord10 underline-offset-4 hover:underline">About</a>
                    </li>
                    <li>
                        <a href="/pages/resume"
                           class="block py-2 pr-4 pl-3 text-nord1 hover:text-nord10 underline-offset-4 hover:underline">Resume</a>
                    </li>
                    <li>
                        <a href="/pages/contact"
                           class="block py-2 pr-4 pl-3 text-nord1 hover:text-nord10 underline-offset-4 hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex justify-end gap-4 py-5">
            {{- partial "social_buttons.html" . -}}
        </div>
    </nav>
</header>
