<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
<div class="min-h-screen bg-nord6 flex flex-col justify-top relative overflow-hidden">
    <div class="relative w-full px-6 pb-20 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-4xl">
        {{- partial "header.html" . -}}
        <main>
            <div>
                {{- block "page-head" . }}{{- end }}
                <div class="mt-8 prose prose-slate mx-auto lg:prose-lg">
                    {{- block "article" . }}{{- end }}
                </div>
                {{- block "page-foot" . }}{{- end }}
            </div>
        </main>
    </div>
    {{- partial "footer.html" . -}}
</div>
</body>
</html>




